.modify-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.modify-password-title {
    color: rgb(0, 111, 180);
    font-size: 30px;
    font-weight: 800;
    margin: 30px 0 30px 0;
}

.modify-password-form-customize {
    margin-bottom: -15px;
}

.modify-password-form-customize label {
    color: #8a8a8a;
}

.modify-password-tips-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 10px 0 10px 0;
    color: red;
    font-size: 15px;
}

#modify-password-loading{
    display: none;
}

#confirm-button {
    display: block;
    text-align: center;
    padding: 10px 15px 10px 15px;
    color: white;
    border-radius: 15px;
    border-width: 0;
    width: 90px;
    background-color: rgb(0, 150, 136);
}

#confirm-button:hover {
    cursor: pointer;
    background-color: rgb(50, 171, 160);
}